@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
button,
input,
select,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', serif;
  color: hsl(244, 16%, 43%);
  background-color: hsl(258, 60%, 98%);
}

main {
  margin-left: 90px;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #353252;
}

.custom-container {
  @apply max-w-[1170px] mx-auto px-[30px];
}

@media screen and (max-width: 1199.98px) {
  .custom-container {
    @apply max-w-[960px];
  }
}

@media screen and (max-width: 991.98px) {
  .custom-container {
    @apply max-w-[720px];
  }
}

@media screen and (max-width: 767.98px) {
  .custom-container {
    @apply max-w-[540px];
  }
}

@media screen and (max-width: 575.98px) {
  .custom-container {
    @apply w-full max-w-full px-[15px];
  }

  .custom-section {
    @apply pt-[60px];
  }
}

.custom-btn-primary {
  @apply px-[30px] py-[8px] rounded-[18px] inline-block bg-frist-color font-bold text-body-color border border-solid border-transparent hover:animate-buttonHover;
}

.custom-section {
  @apply pt-[70px] pb-[20px] mx-auto;
}

.custom-section-title {
  @apply text-[25px] m-[10px] font-bold relative mb-[37px] ml-0 before:h-[23px] before:w-[23px] before:absolute before:-left-[9px] before:-top-[9px];
}

.custom-service-card {
  text-align: center;
  padding: 18px;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
  }

  &:nth-child(1) {
    background-color: rgb(30, 144, 255);
    box-shadow: 0rem 0.5rem 2rem 0rem rgb(30, 144, 255);
  }

  &:nth-child(2) {
    background-color: rgb(255, 205, 0);
    box-shadow: 0rem 0.5rem 2rem 0rem rgb(249, 215, 38);
  }

  &:nth-child(3) {
    background-color: rgb(249, 123, 139);
    box-shadow: 0rem 0.5rem 2rem 0rem rgb(249, 123, 70);
  }
}

.custom-card-icon {
  position: relative;
  padding-left: 30px;
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 0;
  }

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 3px;
    top: 0;
    background-color: hsl(353, 100%, 65%);
  }
}

.custom-work-category {
  color: #fff;
  background-color: hsl(353, 100%, 65%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  transform: translateY(-48px);
  transition: 0.3s;
  visibility: hidden;
}

.custom-work-title {
  color: #fff;
  margin: 0 0 10px;
  padding: 0 20px;
  position: absolute;
  top: 70px;
  transform: translateY(40px);
  transition: 0.3s;
  opacity: 0;
}

.custom-work-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffd15c;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
}

.custom-work-card:hover .custom-work-title,
.custom-work-card:hover .custom-work-category {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.custom-pricing-badge {
  position: absolute;
  left: 0;
  top: 39px;
  color: #fff;
  background-color: #6c6ce5;
  transform: rotate(-90deg);
  padding: 8px;
  font-size: 13px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.swiper-pagination-bullet-active {
  background-color: hsl(353, 100%, 65%) !important;
  margin-left: 0;
  margin-right: 0;
  padding-left: 4px;
  padding-right: 4px;
}
