.aboutContainer {
  grid-template-columns: 3fr 8fr;
  column-gap: 1.9rem;
}

.aboutData {
  padding: 1.9rem;
  background-color: var(--container-color);
  box-shadow: var(--shadown);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  position: relative;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1.5rem solid var(--container-color);
    position: absolute;
    left: -2.3rem;
    top: 20%;
  }
}

.aboutDesc {
  margin-bottom: 2rem;
}

.aboutSkills {
  row-gap: 1.3rem;
}

.skillsTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.skillsName {
  font-size: 1.6rem;
  font-weight: var(--font-medium);
}

.skillsNumber {
  line-height: 1.2;
}

.skillsBar,
.skillsPercentage {
  height: 0.7rem;
  border-radius: 5rem;
}

.skillsBar {
  background-color: #f1f1f1;
}

.skillsPercentage {
  display: block;
}

.development {
  width: 90%;
  background-color: rgb(255, 209, 92);
}

.uiDesign {
  width: 80%;
  background-color: rgb(255, 76, 96);
}

.photography {
  width: 60%;
  background-color: rgb(108, 108, 299);
}

// Start Component AboutBox
.aboutBoxes {
  display: flex;
  justify-content: space-between;
  column-gap: 1.8rem;

  margin-top: 5rem;
}

.aboutBox {
  display: flex;
  column-gap: 1.5rem;
}

.aboutIcon {
  font-size: var(--h1-font-size);
  color: #dedeea;
  width: 4rem;
  height: 4rem;
}

.aboutTitle {
  font-size: 1.8rem;
}

@media (max-width: 767.98px) {
  .aboutContainer {
    grid-template-columns: 1fr;
  }

  .aboutImg {
    margin: 0 auto;
  }

  .aboutData {
    margin-top: 3rem;
  }

  .aboutDesc {
    font-size: 1.4rem;
  }

  .skillsName {
    font-size: 1.5rem;
  }

  .skillsNumber {
    font-size: 1.4rem;
  }

  .aboutBoxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 13rem;
    row-gap: 3rem;
  }

  .aboutSubTitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 575.98px) {
  .aboutBoxes {
    grid-template-columns: 1fr;
  }

  .aboutBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
  }

  .aboutIcon {
    margin-bottom: 1rem;
  }

  .aboutImg {
    width: 13rem;
  }
}
