.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;

  background: var(--body-color);
  border-right: 1px solid rgba(0, 0, 0, 0.05);

  padding: 2.5rem;

  width: 11rem;
  min-height: 11rem;
  height: 100%;

  z-index: 10;
}

.navList {
  display: flex;
  flex-direction: column;
}

.navLink {
  display: block;
  color: var(--title-color);
  font-weight: var(--font-bold);

  padding: 1.5rem 0;

  transition: 0.3s;

  &:hover {
    color: hsl(43, 100%, 68%);
  }
}

.iconSidebar {
  display: block;
  width: 3.2rem;
  height: 2.6rem;
  font-size: 1.3rem;
}

.navCopyright {
  color: hsl(245, 15%, 65%);
  font-size: 1.3rem;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

.navToggle {
  position: fixed;
  top: 3rem;
  left: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 4.5rem;
  height: 4rem;
  background-color: var(--body-color);
  border: 0.1rem solid #e8dfec;

  cursor: pointer;
}

.navToggleIcon {
  width: 2.2rem;
}

@media (max-width: 1199.98px) {
  .aside {
    margin-left: -11rem;
  }

  .aside.activeAside {
    margin-left: 0;
    transition: all 0.3s ease-in-out;
  }

  .activeNavToggle {
    left: 13rem;
    top: 2rem;
    transition: all 0.3s ease-in-out;
  }
}
